{% extends "base.html"%}

{% block content %}
    <h1>Login</h1>

    <section>
        <form action="{% url "users:login" %}" method="POST">
        {% csrf_token %}
            <input type="hidden" name="next_url" value="{{ request.GET.next }}"></br>
            <input type="text" name="username" placeholder="username" required></br>
            <input type="password" name="password" placeholder="password" required></br>
            <input type="hidden" name="next" value="{{ request.GET.next }}"> 
            <input type="submit" value="login">
        </form>
    </section>
    <section>
        <ul>
            <li>
            <a href="{% url "social:begin" backend="facebook" %}">페이스북으로 로그인하기</a>
            </li>
        </ul>
        <ul>
            <li>
            <a href="{% url "social:begin" backend="kakao" %}">카카오로 로그인하기</a>
            </li>
        </ul>
    </section>
{% endblock %}

